body {
  background: #102B28; /* REKOM Dark Green */
  color: white;
  font-family: 'Lexend', sans-serif;
  padding: 3rem;
  font-size: 1.8rem;
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #FFDE59; /* Yellow highlight */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 1.6rem 0;
  border-bottom: 2px solid #2D4B48;
}

strong {
  font-size: 2rem;
}

.date {
  font-size: 1.6rem;
  color: #CCCCCC;
}
